body[scheme=vkcom_dark] .vkuiGradient--md-tint.vkuiGradient--to-top {
    background: linear-gradient(to top,#333333,rgba(51, 51, 51,.98),rgba(51, 51, 51,.94),rgba(51, 51, 51,.88),rgba(51, 51, 51,.8),rgba(51, 51, 51,.71),rgba(51, 51, 51,.61),rgba(51, 51, 51,.5),rgba(51, 51, 51,.39),rgba(51, 51, 51,.29),rgba(51, 51, 51,.2),rgba(51, 51, 51,.12),rgba(51, 51, 51,.06),rgba(51, 51, 51,.02),rgba(51, 51, 51,0));
}

body {
    user-select: none;
}

.div-center {
    display: table;
    margin: 0 auto;
}

.activeViewCell {
    background-color: var(--button_secondary_background);
    border-radius: 8px;
}

.ProfileUserWeb {
    display: flex;
    margin: -7px -7px 0 -7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.ProfileUserMobail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.NameUser {
    margin-bottom: 8px; 
    margin-top: 20px
}

.SubheaderUser {
    margin-bottom: 24px;
    color: var(--text_secondary)
}

.vkuiTabbarItem--android .vkuiTabbarItem__tappable {
    width: calc(100% + 16px);
    padding-bottom: 0px;
    border-radius: 50%;
}

.trackPlaceholder {
    margin-top: calc(100% / 7);
}

.TabbarItem--selected {
    color: #ff8e6e;
}

.actionsParcel {
    position: absolute;
    left: 87%;
    top: 10%
}

.snack_err {
    color: var(--destructive)
}

.snack_suc {
    color: var(--dynamic_green)
}

.fav_placeholder {
    margin-top: calc(100% / 3);
}

.snack {
    margin-bottom: -50px;
}

.orange {
    color: #ff8e6e
}

.tabbar {
    border-radius: 10px;
}

.vkuiPanelHeader__content-in {
    color: #ff8e6e
}

.vkuiPanelHeader__left {
    color: #ff8e6e
}

body[scheme=bright_light], [scheme=bright_light], .vkuibright_light {
    --accent: #ff8e6e;
    --accent_alternate: #ff8e6e;
    --button_outline_border: #ff8e6e;
    --button_outline_foreground: #ff8e6e;
    --button_primary_background: #ff8e6e;
}

body[scheme=space_gray], [scheme=space_gray], .vkuispace_gray {
    --accent: #ff8e6e;
    --accent_alternate: #ff8e6e;
    --button_outline_border: #ff8e6e;
    --button_outline_foreground: #ff8e6e;
    --button_primary_background: #ff8e6e
}

body[scheme=vkcom_light], [scheme=vkcom_light], .vkuivkcom_light {
    --accent: #ff8e6e;
    --accent_alternate: #ff8e6e;
    --button_outline_border: #ff8e6e;
    --button_outline_foreground: #ff8e6e;
    --button_primary_background: #ff8e6e
}

body[scheme=vkcom_dark], [scheme=vkcom_dark], .vkuivkcom_dark {
    --accent: #ff8e6e;
    --accent_alternate: #ff8e6e;
    --button_outline_border: #ff8e6e;
    --button_outline_foreground: #ff8e6e;
    --button_primary_background: #ff8e6e
}